{
  "openapi": "3.0.1",
  "info": {
    "title": "RHSM-API",
    "description": "API for Red Hat Subscription Management",
    "contact": {
      "url": "https://access.redhat.com/support/cases/"
    },
    "version": "1.434.0"
  },
  "servers": [
    {
      "url": "https://api.access.redhat.com/management/v1"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "allocation"
    },
    {
      "name": "cloudaccess"
    },
    {
      "name": "errata"
    },
    {
      "name": "images"
    },
    {
      "name": "packages"
    },
    {
      "name": "subscription"
    },
    {
      "name": "system"
    }
  ],
  "paths": {
    "/allocations": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "List all allocations for a user",
        "description": "The default and max number of results in a response are 100.",
        "operationId": "listAllocations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "max number of results you want",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SAM",
                "Satellite"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of allocations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Allocation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/APIPageParam"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "allocation"
        ],
        "summary": "Create Satellite",
        "description": "Create Satellite by name and version(optional).\nCustomers can use any version listed in the `/v1/allocations/versions` endpoint (use attribute `value`).\nIf no version is specified, it will take the latest available version for Satellite.",
        "operationId": "createSatellite",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "must be less than 100 characters and use only numbers, letters, underscores, hyphens, and periods",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/AllocationSummary"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/versions": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "List Satellite versions",
        "description": "Returns list of Satellite version 6.0 and above",
        "operationId": "listVersionsAllocation",
        "responses": {
          "200": {
            "description": "list of Satellite version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AllocationVersion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "Get an allocation by UUID",
        "description": "System, RHUI, Hypervisor are unsupported allocation types",
        "operationId": "showAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Show more details about a allocation",
            "schema": {
              "type": "string",
              "enum": [
                "entitlements"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ShowAllocation200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/AllocationDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "allocation"
        ],
        "summary": "Update an allocation",
        "description": "Allows to update simpleContentAccess for Satellite of version 6.3 and above\nPossible value for simpleContentAccess are:\n\n- enabled\n- disabled",
        "operationId": "updateAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "simpleContentAccess"
                ],
                "type": "object",
                "properties": {
                  "simpleContentAccess": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "allocation"
      },
      "delete": {
        "tags": [
          "allocation"
        ],
        "summary": "Remove allocation profile",
        "description": "The default success response will be 204\n\nSystem, RHUI, Hypervisor are unsupported allocation types",
        "operationId": "removeAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deleting a subscription allocation can have significant impacts on your hosts and activation keys.\nWe require a force parameter to make sure the delete operation is intentional.",
            "required": true,
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully removed",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "GatewayTimeout error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/entitlements": {
      "post": {
        "tags": [
          "allocation"
        ],
        "summary": "Attach entitlement to allocation",
        "description": "The default success response will be 200.\n\nSystem, RHUI, Hypervisor are unsupported allocation types.\nSAM 1.3 or higher, and Satellite 5.6 versions are supported.",
        "operationId": "attachEntitlementAllocation",
        "parameters": [
          {
            "name": "pool",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "quantity you want to attach",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AttachEntitlement200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/AllocationDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/entitlements/{EntitlementID}": {
      "put": {
        "tags": [
          "allocation"
        ],
        "summary": "Update attached entitlement to allocation",
        "description": "The default success response will be 200.\nSystem, RHUI, Hypervisor are unsupported allocation types",
        "operationId": "updateEntitlementAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntitlementID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "maxItem: quantity must be less than or equal to the maximum number of allowed entitlements in the entitlement pool\nminItem: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/AllocationDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "allocation"
        ],
        "summary": "Remove entitlement from the allocation",
        "description": "The default success response will be 204.",
        "operationId": "removeAllocationEntitlement",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntitlementID",
            "in": "path",
            "description": "Remove an entitlement from an allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully removed",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/export": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "Trigger allocation manifest export",
        "description": "Starts job to generate export for an allocation. To check the status of the export job visit the href in the response.\n\nSystem, RHUI, Hypervisor are unsupported allocation types. SAM 1.2 or lower and Satellite 5.9 or lower versions are unsupported.",
        "operationId": "exportAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExportAllocation200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/exportResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/export/{ExportID}": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "Download allocation manifest",
        "description": "Success response contains a zip file. The link is one-time download and expires after one try. Trigger export job to get another download link.\n\nContent-Type: application/zip",
        "operationId": "getExportAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExportID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetExportAllocation200 is the success response",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/exportJob/{ExportJobID}": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "Check status of allocation manifest export",
        "description": "Returns export download link in response.",
        "operationId": "exportJobAllocation",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExportJobID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExportJobAllocation200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/exportJobResponse"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "AcceptedExportJob202 is a response for accepted and in progress job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ongoingExportJobResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "NotAcceptable error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/pools": {
      "get": {
        "tags": [
          "allocation"
        ],
        "summary": "List all pools for an allocation",
        "description": "System, RHUI, Hypervisor are unsupported allocation types. SAM 1.3 or higher, and Satellite 5.6 versions are supported.",
        "operationId": "listAllocationPools",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "max number of results you want",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "future",
            "in": "query",
            "description": "include future dated pools for satellite 6.3 or higher",
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListAllocationPools200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/poolsListMock"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocations/{uuid}/{EntitlementID}": {
      "delete": {
        "tags": [
          "allocation"
        ],
        "summary": "Remove entitlement from the allocation",
        "description": "The default success response will be 204.",
        "operationId": "removeAllocationEntitlementDeprecated",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntitlementID",
            "in": "path",
            "description": "Remove an entitlement from an allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully removed",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/cloud_access_providers/accounts": {
      "delete": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "Remove a provider account by source id",
        "description": "Removes a currently-enabled provider account, including removing access to Gold Images, where applicable using the sourceID provided. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.\n",
        "operationId": "RemoveProviderAccountBySourceID",
        "parameters": [
          {
            "name": "sourceID",
            "in": "query",
            "description": "source id with which we have to delete the provider account",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cloud_access_providers/enabled": {
      "get": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "List all enabled cloud access providers for a user",
        "description": "Returns the full list of all enabled Red Hat products and Cloud Access provider accounts/subscriptions associated with the user’s Red Hat account.\n- For Products that are expired `nextRenewal` field would be omitted and `totalQuantity` would be `0`.\n- Product objects can have `totalQuantity` field as `-1` indicating `Unlimited` quantity available.\n- The `nextRenewalDate` field of a Product has the format `YYYY-MM-DD`.\n- The `goldImageStatus` details are available for an account when the Provider is a certified Gold Image Provider and the account has been requested for gold image access. The `status` field of a goldImageStatus object could be `\"Requested\"`, `\"Granted\"` or `\"Failed\"`.\n- The `imageGroups` field is available for a product when the Provider is a certified Gold Image Provider, and the product has a gold image group available for it.\n",
        "operationId": "listEnabledCloudAccessProviders",
        "responses": {
          "200": {
            "description": "A JSON response object listing cloud access providers and their accounts and products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnabledCloudAccessProvider"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cloud_access_providers/{ProviderShortName}/accounts": {
      "post": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "Add accounts for a provider",
        "description": "Add up to `100` new provider accounts, with optional nicknames, to a currently-enabled provider for Red Hat Cloud Access. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.\n",
        "operationId": "AddProviderAccounts",
        "parameters": [
          {
            "name": "ProviderShortName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddProviderAccount"
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "account"
      },
      "delete": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "Remove a provider account",
        "description": "Removes a currently-enabled provider account, including removing access to Gold Images, where applicable. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.\n",
        "operationId": "RemoveProviderAccount",
        "parameters": [
          {
            "name": "ProviderShortName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "account"
      }
    },
    "/cloud_access_providers/{ProviderShortName}/accounts/{AccountID}": {
      "put": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "Update provider account",
        "description": "Updates the nickname for a currently-enabled provider account. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.\n",
        "operationId": "UpdateProviderAccount",
        "parameters": [
          {
            "name": "ProviderShortName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "nickname"
                ],
                "type": "object",
                "properties": {
                  "nickname": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "account"
      }
    },
    "/cloud_access_providers/{ProviderShortName}/accounts/{AccountID}/verification": {
      "put": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "Verify a provider account",
        "description": "Verifies a cloud provider account for use with RHSM Auto Registration, which allows for cloud instances to automatically register with RHSM upon provisioning.\n\nAuto Registration is currently only available for the following cloud providers:\n  - AWS\n  - AWS GovCloud\n  - ACS China\n  - Microsoft Azure\n  - Google Cloud Provider\n\n\nThis endpoint accepts a cloud instance \"identity\" document and \"signature\" from the cloud provider's metadata service. Use the following links for more info on how to obtain these:\n - For AWS: [EC2 Instance Identity Document](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-identity-documents.html) and [Signature](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/verify-rsa2048.html)\n - For Azure: [Azure Instance Metadata](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service) and [Signature](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service?tabs=linux#attested-data)\n - For GCP: [Compute Engine Instance Identity JWT token](https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature). Note: Please use \"https://subscription.rhsm.redhat.com:443/subscription\" as value for \"audience\" query parameter and \"full\" as value for \"format\" query parameter while generating the token\n\n\nAn HTTP 400 response will be returned if the cloud provider does not support automatic registration, the signature of the document cannot be verified, the cloud provider account has already been verified for a different Red Hat account, or if the account in the instance metadata does not match the provided account ID.\n\nAn HTTP 204 response will be returned if the account has been successfully verified. Attempts to verify an account that is already verified will return an HTTP 204 response with no changes being made.\n",
        "operationId": "VerifyProviderAccount",
        "parameters": [
          {
            "name": "ProviderShortName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AGOV",
                "ACN",
                "MSAZ",
                "GCE"
              ]
            }
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "identity",
                  "signature"
                ],
                "type": "object",
                "properties": {
                  "identity": {
                    "type": "string",
                    "description": "base64-encoded cloud instance metadata. For GCE, please use the instance identity token (JWT) as it is."
                  },
                  "signature": {
                    "type": "string",
                    "description": "base64-encoded cloud instance metadata signature. For GCE, please omit this field."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "account"
      }
    },
    "/cloud_access_providers/{ProviderShortName}/goldimage": {
      "post": {
        "tags": [
          "cloudaccess"
        ],
        "summary": "Enable Gold image access",
        "description": "Requests access to Red Hat Gold Images, where available, for currently-enabled products and provider accounts. Customers can request Red Hat Gold Images for account IDs and product image groups listed in the `/v1/cloud_access_providers/enabled` endpoint using the provider short name listed in the same response. After the request has been accepted for processing, gold image status for accounts can be checked in the `/v1/cloud_access_providers/enabled` endpoint response.\n",
        "operationId": "EnableGoldImages",
        "parameters": [
          {
            "name": "ProviderShortName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "accounts",
                  "images"
                ],
                "type": "object",
                "properties": {
                  "accounts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "Accepted: The request has been accepted for processing, but the processing has not been completed.",
            "content": {}
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "goldImages"
      }
    },
    "/errata": {
      "get": {
        "tags": [
          "errata"
        ],
        "summary": "List all errata for a user's systems",
        "description": "The default and max results in a response are 1000.",
        "operationId": "listErrata",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "max number of results you want",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListErrata200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/myErrataListMock"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/errata/cset/{ContentSet}/arch/{Arch}": {
      "get": {
        "tags": [
          "errata"
        ],
        "summary": "Get all the errata for the specified content set and arch",
        "description": "Limit is the number of results in a response. The default limit is 50 and max limit is 100.",
        "operationId": "listErrataByContentSetArch",
        "parameters": [
          {
            "name": "ContentSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Arch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "max number of results you want",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListErrataByContentSetArch200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contentSetArchMock"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/errata/{AdvisoryID}": {
      "get": {
        "tags": [
          "errata"
        ],
        "summary": "Get the details of an advisory",
        "description": "This will get the details of an advisory specified by its advisoryID.",
        "operationId": "showErratum",
        "parameters": [
          {
            "name": "AdvisoryID",
            "in": "path",
            "description": "unique identifier for a Red Hat advisory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ShowErratum200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ErratumDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/errata/{AdvisoryID}/images": {
      "get": {
        "tags": [
          "errata"
        ],
        "summary": "List all updated container images for an advisory",
        "description": "This will list all updated container images that address the advisory specified",
        "operationId": "listErratumImages",
        "parameters": [
          {
            "name": "AdvisoryID",
            "in": "path",
            "description": "unique identifier for a Red Hat advisory",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListErratumImages200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/updatedImagesList"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/errata/{AdvisoryID}/packages": {
      "get": {
        "tags": [
          "errata"
        ],
        "summary": "List all packages for an advisory",
        "description": "The default and max results in a response are 50.",
        "operationId": "listErratumPackages",
        "parameters": [
          {
            "name": "AdvisoryID",
            "in": "path",
            "description": "unique identifier for a Red Hat advisory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "max number of results you want",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListErratumPackages200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pkgListMock"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/errata/{AdvisoryID}/systems": {
      "get": {
        "tags": [
          "errata"
        ],
        "summary": "List all systems for an advisory",
        "description": "The default and max results in a response are 1000.",
        "operationId": "listErratumSystems",
        "parameters": [
          {
            "name": "AdvisoryID",
            "in": "path",
            "description": "unique identifier for a Red Hat advisory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "max number of results you want",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListErratumSystems200 is the success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/systemListMock"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/images/cset/{ContentSet}": {
      "get": {
        "tags": [
          "images"
        ],
        "summary": "List available images in a content set",
        "description": "List all the available images in a given content set. The content set parameter is expected to be\n properly formatted (for example rhel-8-for-x86_64-baseos-isos). And the user requesting the endpoint\nis expected to have Download permission (UGC). If the user is entitled to an image, a \"downloadHref\" attribute is added in the image response object which links to image download API. The list is paginated by default to 25 results in a response and goes to maximum 100 results in a response. Use pagination by setting offset and limit url parameters (valid integer values).\n",
        "operationId": "listImagesByContentSet",
        "parameters": [
          {
            "name": "ContentSet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of list items in a page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "index from which you want next items",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON response object containing image listing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ImageInContentSet"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/APIPageParam"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
